.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav {
    display: flex;
}

.nav span {
    display: flex;
    justify-content: center;
    border: black 1px solid;
    width: 260px;
    background-color: #a3ffa3;
    border-left: none;
}

.nav span:first-child {
    border-left: black 1px solid;
}

.usersList {
    max-width: 1306px;
    /* min-width: 1300px; */
}

.table {
    margin: 0 auto;
}

.buttonAdd {
    width: 20%;
    height: 40px;
    margin: 0 auto;
    background-color: #a7c1ff;
    border-radius: 3px;
    margin-bottom: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.img {
    width: 500px;
    margin-top: 100px;
}

.pagination {
    display: flex;
    width: 500px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 25px;
}

.itemLi {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #337ab7;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
    list-style-type: none;
}

.activeA {
    text-decoration: none;
    z-index: 3;
    color: #fff !important;
    background-color: #337ab7;
    border-color: #337ab7;
    cursor: default;
}

.linkA {
    text-decoration: none;
    color: black;
}

.activePage {
    text-decoration: none;
    color: white;
}